<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Нам-нужно-проанализировать-данные-о-фондах-и-инвестициях-через-SQL-запросы-к-базе." data-toc-modified-id="Нам-нужно-проанализировать-данные-о-фондах-и-инвестициях-через-SQL-запросы-к-базе.-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Нам нужно проанализировать данные о фондах и инвестициях через SQL запросы к базе.</a></span><ul class="toc-item"><li><span><a href="#СХЕМА-базы-данных" data-toc-modified-id="СХЕМА-базы-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>СХЕМА базы данных</a></span></li><li><span><a href="#Подсчитаю-количество-закрытых-компаний" data-toc-modified-id="Подсчитаю-количество-закрытых-компаний-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Подсчитаю количество закрытых компаний</a></span></li><li><span><a href="#Отображу-количество-привлечённых-средств-для-новостных-компаний-США.-Используем-данные-из-таблицы-company.-Отсортируем-таблицу-по-убыванию-значений-в-поле-funding_total." data-toc-modified-id="Отображу-количество-привлечённых-средств-для-новостных-компаний-США.-Используем-данные-из-таблицы-company.-Отсортируем-таблицу-по-убыванию-значений-в-поле-funding_total.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Отображу количество привлечённых средств для новостных компаний США. Используем данные из таблицы company. Отсортируем таблицу по убыванию значений в поле funding_total.</a></span></li><li><span><a href="#Найду-общую-сумму-сделок-по-покупке-одних-компаний-другими-в-долларах.-Отберу-сделки,-которые-осуществлялись-только-за-наличные-с-2011-по-2013-год-включительно." data-toc-modified-id="Найду-общую-сумму-сделок-по-покупке-одних-компаний-другими-в-долларах.-Отберу-сделки,-которые-осуществлялись-только-за-наличные-с-2011-по-2013-год-включительно.-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Найду общую сумму сделок по покупке одних компаний другими в долларах. Отберу сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.</a></span></li><li><span><a href="#Отображу-имя,-фамилию-и-названия-аккаунтов-людей-в-твиттере,-у-которых-названия-аккаунтов-начинаются-с-'Silver'." data-toc-modified-id="Отображу-имя,-фамилию-и-названия-аккаунтов-людей-в-твиттере,-у-которых-названия-аккаунтов-начинаются-с-'Silver'.-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Отображу имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются с 'Silver'.</a></span></li><li><span><a href="#Выведу-на-экран-всю-информацию-о-людях,-у-которых-названия-аккаунтов-в-твиттере-содержат-подстроку-'money',-а-фамилия-начинается-на-'K'." data-toc-modified-id="Выведу-на-экран-всю-информацию-о-людях,-у-которых-названия-аккаунтов-в-твиттере-содержат-подстроку-'money',-а-фамилия-начинается-на-'K'.-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Выведу на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.</a></span></li><li><span><a href="#Для-каждой-страны-отображу-общую-сумму-привлечённых-инвестиций,-которые-получили-компании,-зарегистрированные-в-этой-стране.--Отсортирую-данные-по-убыванию-суммы." data-toc-modified-id="Для-каждой-страны-отображу-общую-сумму-привлечённых-инвестиций,-которые-получили-компании,-зарегистрированные-в-этой-стране.--Отсортирую-данные-по-убыванию-суммы.-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Для каждой страны отображу общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране.  Отсортирую данные по убыванию суммы.</a></span></li><li><span><a href="#Составлю-таблицу,-в-которую-войдёт-дата-проведения-раунда,-а-также-минимальное-и-максимальное-значения-суммы-инвестиций,-привлечённых-в-эту-дату.-Оставлю-в-итоговой-таблице-только-те-записи,-в-которых-минимальное-значение-суммы-инвестиций-не-равно-нулю-и-не-равно-максимальному-значению." data-toc-modified-id="Составлю-таблицу,-в-которую-войдёт-дата-проведения-раунда,-а-также-минимальное-и-максимальное-значения-суммы-инвестиций,-привлечённых-в-эту-дату.-Оставлю-в-итоговой-таблице-только-те-записи,-в-которых-минимальное-значение-суммы-инвестиций-не-равно-нулю-и-не-равно-максимальному-значению.-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Составлю таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату. Оставлю в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.</a></span></li><li><span><a href="#Создам-поле-с-категориями:-Для-фондов,-которые-инвестируют-в-100-и-более-компаний,-назначу-категорию-high_activity.-Для-фондов,-которые-инвестируют-в-20-и-более-компаний-до-100,-назначу-категорию-middle_activity.-Если-количество-инвестируемых-компаний-фонда-не-достигает-20,-назначу-категорию-low_activity.-Отображу-все-поля-таблицы-fund-и-новое-поле-с-категориями." data-toc-modified-id="Создам-поле-с-категориями:-Для-фондов,-которые-инвестируют-в-100-и-более-компаний,-назначу-категорию-high_activity.-Для-фондов,-которые-инвестируют-в-20-и-более-компаний-до-100,-назначу-категорию-middle_activity.-Если-количество-инвестируемых-компаний-фонда-не-достигает-20,-назначу-категорию-low_activity.-Отображу-все-поля-таблицы-fund-и-новое-поле-с-категориями.-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Создам поле с категориями: Для фондов, которые инвестируют в 100 и более компаний, назначу категорию high_activity. Для фондов, которые инвестируют в 20 и более компаний до 100, назначу категорию middle_activity. Если количество инвестируемых компаний фонда не достигает 20, назначу категорию low_activity. Отображу все поля таблицы fund и новое поле с категориями.</a></span></li><li><span><a href="#Для-каждой-из-категорий,-назначенных-в-предыдущем-запросе,-посчитаю-округлённое-до-ближайшего-целого-числа-среднее-количество-инвестиционных-раундов,-в-которых-фонд-принимал-участие.-Выведу-на-экран-категории-и-среднее-число-инвестиционных-раундов.-Отсортирую-таблицу-по-возрастанию-среднего." data-toc-modified-id="Для-каждой-из-категорий,-назначенных-в-предыдущем-запросе,-посчитаю-округлённое-до-ближайшего-целого-числа-среднее-количество-инвестиционных-раундов,-в-которых-фонд-принимал-участие.-Выведу-на-экран-категории-и-среднее-число-инвестиционных-раундов.-Отсортирую-таблицу-по-возрастанию-среднего.-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Для каждой из категорий, назначенных в предыдущем запросе, посчитаю округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведу на экран категории и среднее число инвестиционных раундов. Отсортирую таблицу по возрастанию среднего.</a></span></li><li><span><a href="#Выгружу-таблицу-с-десятью-самыми-активно-инвестирующими-странами.-Активность-страны-определю-по-среднему-количеству-компаний,-в-которые-инвестируют-фонды-этой-страны.-Для-каждой-страны-посчитаю-минимальное,-максимальное-и-среднее-число-компаний,-в-которые-инвестировали-фонды,-основанные-с-2010-по-2012-год-включительно.-Исключу-из-таблицы-страны-с-фондами,-у-которых-минимальное-число-компаний,-получивших-инвестиции,-равно-нулю.-Отсортирую-таблицу-по-среднему-количеству-компаний-от-большего-к-меньшему." data-toc-modified-id="Выгружу-таблицу-с-десятью-самыми-активно-инвестирующими-странами.-Активность-страны-определю-по-среднему-количеству-компаний,-в-которые-инвестируют-фонды-этой-страны.-Для-каждой-страны-посчитаю-минимальное,-максимальное-и-среднее-число-компаний,-в-которые-инвестировали-фонды,-основанные-с-2010-по-2012-год-включительно.-Исключу-из-таблицы-страны-с-фондами,-у-которых-минимальное-число-компаний,-получивших-инвестиции,-равно-нулю.-Отсортирую-таблицу-по-среднему-количеству-компаний-от-большего-к-меньшему.-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Выгружу таблицу с десятью самыми активно инвестирующими странами. Активность страны определю по среднему количеству компаний, в которые инвестируют фонды этой страны. Для каждой страны посчитаю минимальное, максимальное и среднее число компаний, в которые инвестировали фонды, основанные с 2010 по 2012 год включительно. Исключу из таблицы страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Отсортирую таблицу по среднему количеству компаний от большего к меньшему.</a></span></li><li><span><a href="#Отображу-имя-и-фамилию-всех-сотрудников-стартапов.-Добавлю-поле-с-названием-учебного-заведения,-которое-окончил-сотрудник,-если-эта-информация-известна." data-toc-modified-id="Отображу-имя-и-фамилию-всех-сотрудников-стартапов.-Добавлю-поле-с-названием-учебного-заведения,-которое-окончил-сотрудник,-если-эта-информация-известна.-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Отображу имя и фамилию всех сотрудников стартапов. Добавлю поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.</a></span></li><li><span><a href="#Для-каждой-компании-найду-количество-учебных-заведений,-которые-окончили-её-сотрудники.-Выведу-название-компании-и-число-уникальных-названий-учебных-заведений.-Составлю-топ-5-компаний-по-количеству-университетов." data-toc-modified-id="Для-каждой-компании-найду-количество-учебных-заведений,-которые-окончили-её-сотрудники.-Выведу-название-компании-и-число-уникальных-названий-учебных-заведений.-Составлю-топ-5-компаний-по-количеству-университетов.-1.13"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>Для каждой компании найду количество учебных заведений, которые окончили её сотрудники. Выведу название компании и число уникальных названий учебных заведений. Составлю топ-5 компаний по количеству университетов.</a></span></li><li><span><a href="#Составлю-список-с-уникальными-названиями-закрытых-компаний,-для-которых-первый-раунд-финансирования-оказался-последним." data-toc-modified-id="Составлю-список-с-уникальными-названиями-закрытых-компаний,-для-которых-первый-раунд-финансирования-оказался-последним.-1.14"><span class="toc-item-num">1.14&nbsp;&nbsp;</span>Составлю список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.</a></span></li><li><span><a href="#Составлю-список-уникальных-номеров-сотрудников,-которые-работают-в-компаниях,-отобранных-в-предыдущем-запросе." data-toc-modified-id="Составлю-список-уникальных-номеров-сотрудников,-которые-работают-в-компаниях,-отобранных-в-предыдущем-запросе.-1.15"><span class="toc-item-num">1.15&nbsp;&nbsp;</span>Составлю список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем запросе.</a></span></li><li><span><a href="#Составлю-таблицу,-куда-войдут-уникальные-пары-с-номерами-сотрудников-из-предыдущей-задачи-и-учебным-заведением,-которое-окончил-сотрудник." data-toc-modified-id="Составлю-таблицу,-куда-войдут-уникальные-пары-с-номерами-сотрудников-из-предыдущей-задачи-и-учебным-заведением,-которое-окончил-сотрудник.-1.16"><span class="toc-item-num">1.16&nbsp;&nbsp;</span>Составлю таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.</a></span></li><li><span><a href="#Посчитаю-количество-учебных-заведений-для-каждого-сотрудника-из-предыдущего-запроса." data-toc-modified-id="Посчитаю-количество-учебных-заведений-для-каждого-сотрудника-из-предыдущего-запроса.-1.17"><span class="toc-item-num">1.17&nbsp;&nbsp;</span>Посчитаю количество учебных заведений для каждого сотрудника из предыдущего запроса.</a></span></li><li><span><a href="#Дополн.-предыдущий-запрос-и-выведe-среднее-число-учебных-заведений,-которые-окончили-сотрудники-разных-компаний." data-toc-modified-id="Дополн.-предыдущий-запрос-и-выведe-среднее-число-учебных-заведений,-которые-окончили-сотрудники-разных-компаний.-1.18"><span class="toc-item-num">1.18&nbsp;&nbsp;</span>Дополн. предыдущий запрос и выведe среднее число учебных заведений, которые окончили сотрудники разных компаний.</a></span></li><li><span><a href="#Напишу-похожий-запрос:-выведу-среднее-число-учебных-заведений,-которые-окончили-сотрудники-компании-Facebook." data-toc-modified-id="Напишу-похожий-запрос:-выведу-среднее-число-учебных-заведений,-которые-окончили-сотрудники-компании-Facebook.-1.19"><span class="toc-item-num">1.19&nbsp;&nbsp;</span>Напишу похожий запрос: выведу среднее число учебных заведений, которые окончили сотрудники компании Facebook.</a></span></li><li><span><a href="#Составлю-таблицу-из-полей:" data-toc-modified-id="Составлю-таблицу-из-полей:-1.20"><span class="toc-item-num">1.20&nbsp;&nbsp;</span>Составлю таблицу из полей:</a></span></li><li><span><a href="#Выгружу-таблицу,-в-которой-будут-такие-поля:" data-toc-modified-id="Выгружу-таблицу,-в-которой-будут-такие-поля:-1.21"><span class="toc-item-num">1.21&nbsp;&nbsp;</span>Выгружу таблицу, в которой будут такие поля:</a></span></li><li><span><a href="#Выгружу-таблицу,-в-которую-войдут-названия-компаний-из-категории-social,-получившие-финансирование-с-2010-по-2013-год.-Выведу-также-номер-месяца,-в-котором-проходил-раунд-финансирования." data-toc-modified-id="Выгружу-таблицу,-в-которую-войдут-названия-компаний-из-категории-social,-получившие-финансирование-с-2010-по-2013-год.-Выведу-также-номер-месяца,-в-котором-проходил-раунд-финансирования.-1.22"><span class="toc-item-num">1.22&nbsp;&nbsp;</span>Выгружу таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год. Выведу также номер месяца, в котором проходил раунд финансирования.</a></span></li><li><span><a href="#Отберу-данные-по-месяцам-с-2010-по-2013-год,-когда-проходили-инвестиционные-раунды.-Сгруппирую-данные-по-номеру-месяца-и-получу-таблицу,-в-которой-будут-поля:" data-toc-modified-id="Отберу-данные-по-месяцам-с-2010-по-2013-год,-когда-проходили-инвестиционные-раунды.-Сгруппирую-данные-по-номеру-месяца-и-получу-таблицу,-в-которой-будут-поля:-1.23"><span class="toc-item-num">1.23&nbsp;&nbsp;</span>Отберу данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппирую данные по номеру месяца и получу таблицу, в которой будут поля:</a></span></li><li><span><a href="#Составлю-сводную-таблицу-и-выведу-среднюю-сумму-инвестиций-для-стран,-в-которых-есть-стартапы,-зарегистрированные-в-2011,-2012-и-2013-годах.-Данные-за-каждый-год-должны-быть-в-отдельном-поле.-Отсортирую-таблицу-по-среднему-значению-инвестиций-за-2011-год-от-большего-к-меньшему." data-toc-modified-id="Составлю-сводную-таблицу-и-выведу-среднюю-сумму-инвестиций-для-стран,-в-которых-есть-стартапы,-зарегистрированные-в-2011,-2012-и-2013-годах.-Данные-за-каждый-год-должны-быть-в-отдельном-поле.-Отсортирую-таблицу-по-среднему-значению-инвестиций-за-2011-год-от-большего-к-меньшему.-1.24"><span class="toc-item-num">1.24&nbsp;&nbsp;</span>Составлю сводную таблицу и выведу среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортирую таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.</a></span></li></ul></li></ul></div>

### Нам нужно проанализировать данные о фондах и инвестициях через SQL запросы к базе.

**Запросы идут по возрастанию сложности**

#### СХЕМА базы данных

![](https://github.com/Mikhail-9/yandex_projects_praktimum/blob/master/sql_data_analyst/13_border2880_1628581406.png)

#### Подсчитаю количество закрытых компаний

```
SELECT COUNT(status)
FROM company
WHERE status = 'closed'
```

#### Отображу количество привлечённых средств для новостных компаний США. Используем данные из таблицы company. Отсортируем таблицу по убыванию значений в поле funding_total.

```
SELECT SUM(funding_total)
FROM company
WHERE category_code = 'news'
  AND country_code ='USA'
GROUP BY name
ORDER BY SUM(funding_total) DESC
```

#### Найду общую сумму сделок по покупке одних компаний другими в долларах. Отберу сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

```
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash'
AND CAST(acquired_at AS date) BETWEEN '2011-01-01' AND '2013-12-31'  
```

#### Отображу имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются с 'Silver'.

```
SELECT first_name,
       last_name,
       twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%'
```

#### Выведу на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.

```
SELECT  *
FROM people
WHERE twitter_username LIKE '%money%'
  AND last_name LIKE 'K%'
```

#### Для каждой страны отображу общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране.  Отсортирую данные по убыванию суммы.

```
SELECT SUM(funding_total),
       country_code
FROM company
GROUP BY country_code
ORDER BY SUM(funding_total) DESC
```

#### Составлю таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату. Оставлю в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

```
SELECT funded_at,
       MIN(raised_amount),
       MAX(raised_amount)
FROM funding_round
GROUP BY funded_at 
HAVING MIN(raised_amount) != 0 AND MIN(raised_amount) != MAX(raised_amount)
```

#### Создам поле с категориями: Для фондов, которые инвестируют в 100 и более компаний, назначу категорию high_activity. Для фондов, которые инвестируют в 20 и более компаний до 100, назначу категорию middle_activity. Если количество инвестируемых компаний фонда не достигает 20, назначу категорию low_activity. Отображу все поля таблицы fund и новое поле с категориями.

```
SELECT *,
      CASE
          WHEN invested_companies >= 100 THEN 'high_activity'
          WHEN invested_companies < 100 AND invested_companies >= 20 THEN 'middle_activity'
          WHEN invested_companies < 20 THEN 'low_activity'
      END    
FROM fund  
```

####  Для каждой из категорий, назначенных в предыдущем запросе, посчитаю округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведу на экран категории и среднее число инвестиционных раундов. Отсортирую таблицу по возрастанию среднего.

```
SELECT ROUND(AVG(investment_rounds)),
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity
FROM fund
GROUP BY activity
ORDER BY ROUND(AVG(investment_rounds))
```

#### Выгружу таблицу с десятью самыми активно инвестирующими странами. Активность страны определю по среднему количеству компаний, в которые инвестируют фонды этой страны. Для каждой страны посчитаю минимальное, максимальное и среднее число компаний, в которые инвестировали фонды, основанные с 2010 по 2012 год включительно. Исключу из таблицы страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Отсортирую таблицу по среднему количеству компаний от большего к меньшему.

```
SELECT country_code,
       AVG(invested_companies),
       MIN(invested_companies),
       MAX(invested_companies)
FROM fund
WHERE EXTRACT('year' FROM founded_at) BETWEEN 2010 AND 2012
GROUP BY country_code
HAVING MIN(invested_companies) != 0
ORDER BY AVG(invested_companies) DESC
LIMIT 10
```

#### Отображу имя и фамилию всех сотрудников стартапов. Добавлю поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

```
SELECT p.first_name,
       p.last_name,
       e.instituition
FROM people AS p
LEFT OUTER JOIN education AS e ON p.id=e.person_id
```

#### Для каждой компании найду количество учебных заведений, которые окончили её сотрудники. Выведу название компании и число уникальных названий учебных заведений. Составлю топ-5 компаний по количеству университетов.

```
SELECT c.name,
       COUNT(DISTINCT e.instituition) AS qt
FROM company AS c
JOIN people AS p ON c.id = p.company_id
JOIN education AS e ON e.person_id = p.id
GROUP BY c.name
ORDER BY qt DESC
LIMIT 5
```

#### Составлю список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

```
SELECT DISTINCT c.name
FROM company AS c
WHERE status = 'closed'
  AND c.id IN (SELECT company_id
               FROM funding_round
               WHERE is_first_round = 1 AND is_last_round = 1)
```

#### Составлю список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем запросе.

```
  SELECT DISTINCT id
  FROM people
  WHERE company_id IN
  (SELECT DISTINCT id
   FROM company AS c
   WHERE status = 'closed'
   AND c.id IN (SELECT company_id
               FROM funding_round
               WHERE is_first_round = 1 AND is_last_round = 1))
```

#### Составлю таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

```
SELECT DISTINCT p.id, e.instituition
FROM people as p INNER JOIN education AS e ON p.id = e.person_id
WHERE company_id IN (SELECT DISTINCT id
                      FROM company AS c
                      WHERE status = 'closed'
                      AND c.id IN (SELECT company_id
                                   FROM funding_round
                                   WHERE is_first_round = 1 AND is_last_round = 1))
```

#### Посчитаю количество учебных заведений для каждого сотрудника из предыдущего запроса.

```
SELECT DISTINCT p.id, COUNT(e.instituition)
FROM people as p INNER JOIN education AS e ON p.id = e.person_id
WHERE company_id IN (SELECT DISTINCT id
                      FROM company AS c
                      WHERE status = 'closed'
                      AND c.id IN (SELECT company_id
                                   FROM funding_round
                                   WHERE is_first_round = 1 AND is_last_round = 1))
GROUP BY p.id   
```

#### Дополн. предыдущий запрос и выведe среднее число учебных заведений, которые окончили сотрудники разных компаний.

```
SELECT AVG(enough.count)
FROM (SELECT DISTINCT p.id, COUNT(e.instituition)
      FROM people as p INNER JOIN education AS e ON p.id = e.person_id
      WHERE company_id IN (SELECT DISTINCT id
                           FROM company AS c
                           WHERE status = 'closed'
                             AND c.id IN (SELECT company_id
                                          FROM funding_round
                                          WHERE is_first_round = 1 AND is_last_round = 1))
                                          GROUP BY p.id) AS enough
```

#### Напишу похожий запрос: выведу среднее число учебных заведений, которые окончили сотрудники компании Facebook.

```
SELECT AVG(enough.count)
FROM (SELECT DISTINCT p.id, COUNT(e.instituition)
      FROM people as p INNER JOIN education AS e ON p.id = e.person_id
      WHERE company_id IN (SELECT DISTINCT id
                           FROM company AS c
                           WHERE c.name = 'Facebook')
                           GROUP BY p.id) AS enough
```

#### Составлю таблицу из полей: 
   * name_of_fund — название фонда;
   * name_of_company — название компании;
   * amount — сумма инвестиций, которую привлекла компания в раунде.
  **В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.**

```
SELECT f.name AS name_fund,
       c.name AS name_of_company,
       fr.raised_amount AS amount
FROM investment AS i
JOIN company AS c ON i.company_id=c.id
JOIN fund AS f ON i.fund_id=f.id
JOIN funding_round AS fr ON i.funding_round_id=fr.id
WHERE c.milestones > 6 AND EXTRACT(YEAR FROM CAST(fr.funded_at AS DATE)) BETWEEN 2012 AND 2013
```

#### Выгружу таблицу, в которой будут такие поля:
* название компании-покупателя;
* сумма сделки; 
* название компании, которую купили;
* сумма инвестиций, вложенных в купленную компанию;
*  доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая      до ближайшего целого числа.
**Не учитываю те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключу такую компанию из таблицы. Отсортирую таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в алфавитном порядке. Ограничу таблицу первыми десятью записями.**

```
SELECT c.name,
       ac.price_amount,
       co.name,
       co.funding_total,
       ROUND(ac.price_amount / co.funding_total)
FROM acquisition AS ac
JOIN company AS c ON ac.acquiring_company_id=c.id
JOIN company AS co ON ac.acquired_company_id =co.id
WHERE ac.price_amount != 0 AND co.funding_total != 0
ORDER BY ac.price_amount DESC,
         co.name
LIMIT 10         
```

#### Выгружу таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год. Выведу также номер месяца, в котором проходил раунд финансирования.

```
SELECT c.name,
       EXTRACT(MONTH FROM CAST(fr.funded_at AS DATE))
FROM company AS c
LEFT OUTER JOIN funding_round AS fr ON c.id=fr.company_id
WHERE c.category_code = 'social'
  AND EXTRACT(YEAR FROM CAST(fr.funded_at AS DATE)) BETWEEN 2010 AND 2013
```

#### Отберу данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппирую данные по номеру месяца и получу таблицу, в которой будут поля:
* номер месяца, в котором проходили раунды;
* количество уникальных названий фондов из США, которые инвестировали в этом месяце;
* количество компаний, купленных за этот месяц;
* общая сумма сделок по покупкам в этом месяце.

```
WITH qwerty AS(
SELECT EXTRACT(MONTH FROM CAST(fr.funded_at AS DATE)) as month,
       COUNT(DISTINCT f.name) count_of_fund
FROM funding_round AS fr
JOIN investment AS i ON fr.id=i.funding_round_id    
JOIN fund AS f ON i.fund_id=f.id
WHERE EXTRACT(YEAR FROM CAST(fr.funded_at AS DATE)) BETWEEN 2010 AND 2013
  AND f.country_code = 'USA'  
GROUP BY month),
ytrewq AS (
SELECT EXTRACT(MONTH FROM CAST(acquired_at AS DATE)) AS month,
       COUNT(acquired_company_id) AS acq,
       SUM(price_amount) AS spa
FROM acquisition
WHERE EXTRACT(YEAR FROM CAST(acquired_at AS DATE)) BETWEEN 2010 AND 2013    
GROUP BY month    
)
SELECT qwerty.month,
       qwerty.count_of_fund,
       ytrewq.acq,
       ytrewq.spa
FROM qwerty
INNER JOIN ytrewq ON qwerty.month=ytrewq.month
```

#### Составлю сводную таблицу и выведу среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортирую таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

```
WITH 
t1 AS (
    SELECT country_code,
           AVG(funding_total) AS avg_amount
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = '2011'
    GROUP BY country_code
    ),
t2 AS (
    SELECT country_code,
           AVG(funding_total) AS avg_amount
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = '2012'
    GROUP BY country_code
    ),
t3 AS (
    SELECT country_code,
           AVG(funding_total) AS avg_amount
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = '2013'
    GROUP BY country_code
    )
SELECT t1.country_code,t1.avg_amount,t2.avg_amount,t3.avg_amount
FROM t1 
JOIN t2 ON t1.country_code = t2.country_code
JOIN t3 ON t1.country_code = t3.country_code
ORDER BY t1.avg_amount DESC
```